{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style-profile.css' %}">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	<title>Contact Profile</title>
</head>
<body>

	<header class="hero">
		<a href="/">
			<i id="back-btn" class="fas fa-chevron-circle-left"></i>
		</a>
		<div class="hero-info">
			<h1 class="name">{{ contact.full_name | title }}</h1>
			<p id="friend" class="relationship">{{ contact.relationship | title }}</p>
		</div>
	</header>

	<section class="contact-info">

		<div id="phone-info" class="info-line">
			<i id="cell" class="fas fa-phone"></i>
			<p class="phone-number">{{ contact.phone_number }}</p>
		</div>

	

		<!-- <div id="text-info" class="info-line">
			<i id="text" class="fas fa-sms"></i>
			<p class="sms">Send Message</p>
		</div> -->

		

		<div id="email-info" class="info-line">
			<i id="mail" class="fas fa-envelope"></i>
			<p class="email">{{ contact.email }}</p>
		</div>

		

		<div id="address-info" class="info-line">
			<i id="location" class="fas fa-map-marker-alt"></i>
			<p class="address">{{ contact.address }}</p>
		</div>

		

		<div id="birthday-info" class="info-line">
			<i id="cake" class="fas fa-birthday-cake"></i>
			<p class="birthday">{{ contact.birthday }}</p>
		</div>
	</section>

	<section class="edit-contact">
		<div class="edit-button">
			<a href="/edit/{{ contact.id }}" style="color: white;">
				<i id="edit" class="fas fa-cog"></i>
			</a>
		</div>
	</section>

</body>
</html>