{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style-edit.css' %}">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	<title>Edit Contact</title>
</head>
<body>

	<header class="hero">
		<a href="/profile/{{ contact.id }}">
			<i id="back-btn" class="fas fa-chevron-circle-left"></i>
		</a>
		<div class="hero-info">
			<h1 class="name">{{ contact.full_name | title }}</h1>
			<p id="friend" class="relationship-hero">{{ contact.relationship | title }}</p>
		</div>
	</header>

	<form action="/update" method="POST">
		{% csrf_token %}
		<section class="contact-info">

			<div id="phone-info" class="info-line">
				<i id="cell" class="fas fa-phone"></i>
				<input type="text" id="fullname" name="fullname" value="{{ contact.full_name | title }}">
			</div>

			<div id="phone-info" class="info-line">
				<i id="relationship-icon" class="fas fa-user-circle"></i>
				<input type="text" id="relationship-field" name="relationship" value="{{ contact.relationship | title }}">
			</div>

		

			<div id="text-info" class="info-line">
				<i id="text" class="fas fa-sms"></i>
				<input type="text" id="phone-number" name="phone-number" value="{{ contact.phone_number }}">
			</div>

			

			<div id="email-info" class="info-line">
				<i id="mail" class="fas fa-envelope"></i>
				<input type="text" id="e-mail" name="e-mail" value="{{ contact.email }}">
			</div>

			

			<div id="address-info" class="info-line">
				<i id="location" class="fas fa-map-marker-alt"></i>
				<input type="text" id="address" name="address" value="{{ contact.address }}">
			</div>

			

			<div id="birthday-info" class="info-line">
				<i id="cake" class="fas fa-birthday-cake"></i>
				<input type="text" id="birthday" name="birthday" value="">
			</div>

			<input type="hidden" name="id" value="{{ contact.id }}" />

		</section>

		<section class="save-container">
			<div class="save-contact">
				<i id="save" class="fas fa-check-circle"></i>
				<button type="submit" class="save-button">Save Changes</button>
			</div>
		</section>
	</form>

	<section class="delete-container">
		<div class="delete-contact">
			<i id="delete" class="fas fa-trash"></i>
			<a href="/delete/{{ contact.id }}">
				<button class="delete-button">Delete Contact</button>
			</a>
		</div>
	</section>


</body>
<script>
	function formatDate(date) {
		var d = new Date(date),
			month = '' + (d.getMonth() + 1),
			day = '' + d.getDate(),
			year = d.getFullYear();

		if (month.length < 2) 
			month = '0' + month;
		if (day.length < 2) 
			day = '0' + day;

		return [year, month, day].join('-');
	}

	var birthday = "{{ contact.birthday }}"
	var parsed_birthday = formatDate(birthday)
	document.getElementById("birthday").value = parsed_birthday;
</script>
</html>